/*!
 * Roots 6.5.2
 */

$bootstrap-sass-asset-helper: false;
@import "bootstrap/bootstrap";

/* ==========================================================================
   Base
   ========================================================================== */

body { 
  background: $beige;
  }



/* ==========================================================================
   Header
   ========================================================================== */


.container-fluid {
  padding: 0px;
  @media (min-width: $screen-sm-min) {
    padding: 0px 40px 0px 40px;
  }
}

.navbar .container {
  padding: 0px;
}

.banner { }

.top-message {
  text-align: center;
  padding: 30px 20px 90px 20px;
  font-family: $font-family-serif !important;
  margin: 0 auto;
  margin-bottom: 80px;
  @media (min-width: $screen-sm-min) {
    padding: 30px 50px 90px 50px;
  }
  hr {
    max-width: 500px;
  }
  h1 {
    font-family: $font-family-serif;
    font-weight: bold;
    color: $gray-dark;
    font-size: $font-size-h2;
    letter-spacing: 1px;
  }
  h3 {
    font-family: $font-family-serif;
    line-height: $headings-line-height +.5;
    font-size: 1.4em;
  }
}

.about-banner {
  text-align: left;
  overflow: hidden;
  .about-photo {
    position: relative;
    display: inline-block;
    background: url('/assets/img/barn.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
    @media (min-width: $screen-sm-min) {
      height: auto;
    }
    .credit {
      position: absolute;
      bottom: 5px;
      text-align: center;
      color: gray;
      font-size: small;
      font-family: $font-family-sans-serif;
      width: 100%;
      a {
        color: gray;
      }
    }
    .intro {
      display: none;
      @media (min-width: $screen-sm-min) {
        visibility: hidden;
        display: inline-block;
      }
    }
  }
  .intro {
    padding: 60px;
    border: 3px solid $gray-dark;
    margin: 0 auto;
  }
}

.menu-take-action {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-sm;
  @media (min-width: $screen-sm-min) {
    margin-left: 20px;
  }
  a {
    color: #fff !important;
  }
}
.active.menu-take-action {
  a {
    background-color: transparent !important;
    color: #fff !important;
  }
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

.hero-header {
   position: relative;
   text-align: center;
   height: 600px;
   padding: 100px;
   width: 100%;
   color: #fff;
   @include flexbox();
   background-image: url('/assets/img/casanova.jpg') !important;
   background-size: cover !important;
   background-repeat: no-repeat !important;
   background-position: center center !important;
   @media (max-width: $screen-md-max) {
    background-position: center center !important;
  }
   .overlay {
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: cornflowerblue;
      opacity: .3;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      -khtml-opacity: 0.3;
   }
   .home-content {
      opacity: 1;
      position: relative;
      z-index: 10;
      @include translate(0px, 50px);
      @include flexbox-content();
      h1 {
         font-size: 1em;
         text-transform: uppercase;
         letter-spacing: 1px;
         @media (min-width: $screen-sm-min) {
          font-size: 2.2em;
        }
      }
      .statement {
         padding: 30px;
         @include translate(0px, -50px);
         @media (min-width: $screen-sm-min) {
          @include translate(0px, -80px);
        }
         .content-wrap {
          position: relative;
          z-index: 500;
          .mission {
          }
         }
      }
      p {
         font-size: $font-size-small;
         font-weight: 400;
         span {
            display: block;
         }
         @media (min-width: $screen-sm-min) {
          font-size: $font-size-large;
        }
      }
      .lettering-wrap {
         display: block;
         padding: 30px 0px 40px 0px;
      }
      .lettering {
         font-weight: normal;
         text-transform: none;
         font-size: 6rem;
         padding-bottom: 0px;
         letter-spacing: -3px;
         line-height: 0px;
         -webkit-animation: cycle 1s linear, fadeDown 1s 5s linear;
         animation: cycle 2s linear, fadeDown 2s 5s linear;
         @media (min-width: $screen-sm-min) {
          font-size: 8rem;
        }
      }
      hr {
         max-width: 300px;
         margin-top: 20px;
         border-color: #fff;
         @media (min-width: $screen-sm-min) {
          margin-top: 40px;
        }
      }
   }
}
.nopadding {
  padding: 0px;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { 
  margin-top: 40px;
}

/* ==========================================================================
   sidenav
   ========================================================================== */


.section {
   margin-bottom: 50px;
}

.question {
   text-align: right;
   h3 {
      margin: 0 auto;
   }
}
.branding {
   display: block;
   height: 150px;
   background-image: url('/assets/img/logo-titles.svg');
   background-repeat: no-repeat;
   background-position: center center;
   margin-bottom: 50px;
}

.meta {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}





/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
  text-align: center;
  font-size: $font-size-small;
  font-family: $font-family-sans-serif;
  padding: 30px;
  p {
    margin-bottom: 0px;
  }
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: $screen-sm-min) { }

@media (min-width: $screen-md-min) { }

@media (min-width: $screen-lg-min) { }
